.mb-element-data-manager {
  select.selector, .dataTables_filter label input {
    display: block;
    width: 100%;
    background: white;
    border: solid 1px grey;
  }
  .dataTables_filter label {
    display: block; // allow input (inside label!) to grow to full width
  }
  .dataTables_filter, select.selector, >.title {
    margin-bottom: 1.5ex;
  }
  .loading-indicator {
    text-align: right;
    // move spinning icon content slightly left to prevent horizontal overflow and flickering scrollbar
    padding-right: 0.25em;
  }
  // Independence from quirky vis-ui ".modal-body" rules; this Element is not a modal body
  color: #555;
  font-size: 0.85rem;
  select.selector, .dataTables_filter input {
    height: 2.5em;
    padding: 0.35em;
    border-radius: 0;
  }

  // Defeat highly specific table legacy row button font-sizing and misc other shenanigans
  // See Mapbender/CoreBundle/Resources/public/sass/modules/_result_table.scss
  .mapbender-element-result-table {
    > .dataTables_wrapper {
      > table[role="grid"] {
        > tbody > tr > td.buttons > div.button-navigation {
          display: inline-block;
          white-space: nowrap;
            > button {
            font-size: inherit;
            padding: 0.28em;  // ~3px on 11px font-size
            &:before {
              font-size: inherit;
              padding: 0;
            }
          }
        }
      }
    }
  }
  // Right-align buttons even if columns have no (configured!) CSS width
  td.interface {
    text-align: right;
  }
}

// Pop-up dialogs
.ui-dialog-content.data-manager-edit-data {
  &.modal-body {
    // Undo legacy padding: 0, use Bootstrap default 15px
    padding: 15px;
    // Reposition vis-ui tab container (visually belongs to titlebar, but is always placed in body)
    > .mapbender-element-tab-navigator > .nav-tabs {
      margin-left: -15px;
      margin-right: -15px;
      margin-top: -15px;
      margin-bottom: 10px;
    }
  }

  // @todo: remove a.infoText rules; redundant with vis-ui >= 0.1.80 / >= 0.2.0
  a.infoText {
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0px;
    font-size: 0;
    color: #9999A9;
    opacity: 0.6;
    cursor: default;
    text-decoration: none;

    &:hover{
      opacity: 1;
    }

    &:after {
      display: inline-block;
      font-family: FontAwesome;
      content: "\f05a";
      font-size:14px;
      line-height: 30px;
      vertical-align: middle;
      margin-right: 7px;
    }
  }

  .has-title {
    > a.infoText {
      display: inline-block;
      position: absolute;
      bottom: inherit;
      right: inherit;
      &:after{
        line-height: inherit;
        vertical-align: top;
        margin-left: 3px;
        margin-top: 1px;
      }
    }
  }

  .select-container {
    > a.infoText {
      bottom: inherit;
      right: 15px;
    }
    &.has-title {
      > a.infoText {
        right: auto;
      }
    }
  }
  &.textarea-container {
    > a.infoText {
      bottom: inherit;
    }
  }

  .checkbox{
    > a.infoText {
      display: inline-block;
      position: absolute;
      bottom: inherit;
      right: inherit;
      margin-top: -4px;
      z-index: 1;
    }
  }
  .fileinput-button {
    position: relative;
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
