.mb-element-data-manager.modal-body {
  > .frame{

    > .toolbar {
      margin-top: 8px;
      button.btn{
        font-size: 0;
        line-height: 12px;
        &:before{
          font-size: 12px;
          vertical-align: middle;
        }
      }
    }

    .form-group > button.btn {
        &:first-child{
          margin-left: 15px;
        }
        &:last-child{
          margin-right: 15px;
        }
    }
    [class^="fa-"]:before, [class*=" fa-"]:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    > .mapbender-element-result-table {

      > .dataTables_wrapper {
        > .dataTables_filter > label {
          width: 100%;
          line-height: 14px;
          > input[type="search"] {
            display: block;
            width: 100%;
            margin-bottom: 8px;
            border: 1px solid #c0c0c0;
            color: #555;
            font-weight: normal;
            height: 29px;
            padding: 2px 24px 2px 7px;
            line-height: 1.42857143;
          }
        }
        tr[role='row'] > td > div.button-navigation {
          > button {
            &.fa-remove {
            }
            &:before {
              font-family: FontAwesome;
            }
          }
        }
      }
    }
  }
}

// Pop-up dialogs
.ui-dialog {

  > .data-manager-edit-data {
    > .form-group, > form {
      margin: 5px 10px;
    }
  }

  > .data-manager-results {
  }

  a.infoText {
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0px;
    font-size: 0;
    color: #9999A9;
    opacity: 0.6;
    cursor: default;
    text-decoration: none;

    &:hover{
      opacity: 1;
    }

    &:after {
      display: inline-block;
      font-family: FontAwesome;
      content: "\f05a";
      font-size:14px;
      line-height: 30px;
      vertical-align: middle;
      margin-right: 7px;
    }
  }

  .has-title {
    > a.infoText {
      display: inline-block;
      position: absolute;
      bottom: inherit;
      right: inherit;
      &:after{
        line-height: inherit;
        vertical-align: top;
        margin-left: 3px;
        margin-top: 1px;
      }
    }
  }

  .select-container {
    > a.infoText {
      bottom: inherit;
      right: 15px;
    }
    &.has-title {
      > a.infoText {
        right: auto;
      }
    }
  }
  &.textarea-container {
    > a.infoText {
      bottom: inherit;
    }
  }

  .checkbox{
    > a.infoText {
      display: inline-block;
      position: absolute;
      bottom: inherit;
      right: inherit;
      margin-top: -4px;
      z-index: 1;
    }
  }
}
