.mb-element-data-manager {
  select.selector, .dataTables_filter label input {
    display: block;
    width: 100%;
    background: white;
    border: solid 1px grey;
  }
  .dataTables_filter label {
    display: block; // allow input (inside label!) to grow to full width
  }
  .schema-toolset, .dataTables_filter, select.selector, >.title {
    margin-bottom: 1.5ex;
  }
  // Independence from quirky vis-ui ".modal-body" rules; this Element is not a modal body
  color: #555;
  font-size: 0.85rem;
  select.selector, .dataTables_filter input {
    height: 2.5em;
    padding: 0.35em;
    border-radius: 0;
  }
}

// Pop-up dialogs
.ui-dialog-content.data-manager-edit-data {
  a.infoText {
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0px;
    font-size: 0;
    color: #9999A9;
    opacity: 0.6;
    cursor: default;
    text-decoration: none;

    &:hover{
      opacity: 1;
    }

    &:after {
      display: inline-block;
      font-family: FontAwesome;
      content: "\f05a";
      font-size:14px;
      line-height: 30px;
      vertical-align: middle;
      margin-right: 7px;
    }
  }

  .has-title {
    > a.infoText {
      display: inline-block;
      position: absolute;
      bottom: inherit;
      right: inherit;
      &:after{
        line-height: inherit;
        vertical-align: top;
        margin-left: 3px;
        margin-top: 1px;
      }
    }
  }

  .select-container {
    > a.infoText {
      bottom: inherit;
      right: 15px;
    }
    &.has-title {
      > a.infoText {
        right: auto;
      }
    }
  }
  &.textarea-container {
    > a.infoText {
      bottom: inherit;
    }
  }

  .checkbox{
    > a.infoText {
      display: inline-block;
      position: absolute;
      bottom: inherit;
      right: inherit;
      margin-top: -4px;
      z-index: 1;
    }
  }
  .fileinput-button {
    position: relative;
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
